<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
    <title>{%block title%}{%endblock%}</title>
    
</head>
<body>
<header>
    <img class="logo" src="{{ url_for('static', filename='image/logo.jpg') }}">
    <div class="text">
        <p class="title">Вечная зима</p>
        <p>это моя зима, и я буду ее защищать</p>
        <p>это мой уголок, и я буду в нем прятаться</p>
    </div>
    <div class="plug"></div>
</header>
<div class="line"></div>
<main>
    <nav>
        <div class="nav-title">
            <p>Навигация</p>
        </div>
        <ul class="nav-list">
            {% for i in list %}
                {% if i['caption'] == 'Ваш профиль' and username is not none or i['caption'] != 'Ваш профиль'%}
                <li class="navig">
                    <a href="{{ i['url'] }}" class="link"> {{ i['caption'] }} </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <content>
        <div class="outer">
            <h1>{{pageTitle}}</h1>
        </div>
        {%block body%}{%endblock%}
    </content>
    <div class="addition">
        <div class="connect">
                {% for message in get_flashed_messages() %}
                <div class="message">
                    <p>{{message}}</p>
                </div>
                {% endfor %}
            {% if username is none %}
            <p>Войдите в аккаунт</p>
            <form action="contact" method="post">
                <br> <label>Имя:</label>
                <br><input type="text" name="login" value="" placeholder="">
                <br><label>Пароль:</label>
                <br><input type="text" name="password" value="" placeholder="">
                <br><input type="submit" value="Отправить">
                <p><a href="/forgot">Забыли пароль?</a></p>
                <p><a href="/register">Регистрация</a></p>
            </form>
            {% else %}
            <p>Привет, <span  id="username">{{username}}</span></p>
            <div class="outer">
                <img class='ava' src="{{url_for('userAva')}}">
            </div>
            <p><a href="/disconnect">Выйти</a></p>
            {% endif %}
        </div>
        <div class="mini-chat">
            <p class="mini-chat-title">Мини-чат</p>
            <div class="block-chat">
                <ul id="messages"></ul>
                <form id="form-send-msg" autocomplete="off" novalidate>
                    <div class="form-group">
                        <label for="message-input">Сообщение:</label>
                        <input type="text" class="form-control" id="message-input" placeholder="Введите сообщение сюда">
                    </div>
                    <button type="submit" id="send-msg" class="chat-btn">Отправить</button>
                </form>
            </div>
            <span>Отключить перенос при новом сообщении</span><div class="btn-func"></div>
        </div>
    </div>
</main>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" language="JavaScript">
    $(document).ready(() => {
        $("#messages").animate({scrollTop: $("#messages").offset().top+1600}, 2000);
        var b = document.querySelector(".btn-func");
        b.addEventListener("click", function(){
            b.classList.toggle("active")
        });

        $('#form-send-msg').on('submit', (e) => {
            e.preventDefault();
        });

        const socket = io.connect('http://127.0.0.1:5000');
        
        let username = $('#username').text();
        if( username !== ''){
            console.log(typeof username)
        } else{
            username = 'Неизвестный'
        }
        

        //socket.on('connect', () => {
        //    socket.send({'username': 'Service message', 'msg': username + ' has connected!'});
        //});

        $('#send-msg').on('click', () => {
            socket.send({
                'msg': $('#message-input').val(),
                'username':username
            });
            $('#message-input').val('')
        });

        socket.on('message', data => {
            if(data.msg.length > 0){
                if(data.username === 'Service message'){
                    $('#messages').append(`<li class="text-muted"><strong>${data.username}:</strong> ${data.msg}</li>`);
                } else{
                    $('#messages').append(`<li><strong>${data.username}:</strong> ${data.msg}</li>`);
                }
                if(!b.classList.contains("active")){
                    $("#messages").animate({scrollTop: $("#messages").offset().top+3000}, 0);
                }
                console.log('Получено ')
            }
        });
    });
</script>
</body>
</html>