{%extends 'base.html'%}
{%block title%} {{title}} {%endblock%}
{%block body%}
<table>
    <tr>
        <td><img class='ava' src="{{url_for('userAva')}}"></td>
        <td>
            <ul>
                <li>Имя: {{user[0].name}}</li>
                <li>Возраст: {{user[0].age}}</li>
                <li>Email: {{user[0].email}}</li>
                <li>Город: {{user[0].city}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Загрузить"></form>
        </td>
    </tr>
</table>
<p><a href="{{url_for('disconnect')}}">Выйти</a></p>
{%endblock%}