{%extends 'base.html'%}
{%block title%} {{title}} {%endblock%}
{%block body%}
<table border = '0'>
    <tr>
        <td><img class='ava' src={{url_for('user_ava')}}></td>
        <td>
            <ul>
                <li>Позывной: {{rez['login']}}</li>
                <li>Email: {{rez['email']}}</li>
                <li>Информация о вас: {{rez['info']}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <form action={{url_for('upload')}} method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Загрузить"></form>
        </td>
    </tr>
</table>
<p><a href={{url_for('log_out')}}>Выйти</a></p>
{%endblock%}